<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chakula app API</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .endpoints{
                border: 1em;
                border-block-color: purple;
                
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Welcome to Chakula App API</h1>
        <h2>Endpoints</h2>
        <p>
            <ol>
                <li><b>GET /recipe :</b>    Get all the recipes.</li>
                <li><b>GET /recipe/<recipeId> :</b>  Fetch a specific recipe.</li>
                <li><b>POST /recipe :</b>   Place a new recipe.</li>
                <li><b>PATCH /recipe/<recipeId> :</b>  Update the status of an recipe.</li>
                <li><b>DELETE /recipe/<recipeId> :</b>  Delete the status of an recipe.</li>
            </ol>
        </p>             
        <script src="" async defer></script>
    </body>
</html>